/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
<<<<<<<< HEAD:inventory-management-system/.gitignore
========
.phpactor.json
>>>>>>>> 76de274c8fe9e787cb44e8e011aa8f8ee5be7ba0:table_realation/many_to_many/hasmany_through/.gitignore
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/reports
